<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/global.css" />
<link rel="stylesheet" href="/card.css" />
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <div class="container">
        <h2 class="books__title">Books</h2>
        <div class="books__wrapper">
            <% if (books && books.length > 0) { %>
                <% for (let book of books) { %>
                    <div class="card">
                        <img src="/images/book.png" alt="book image">
                        <div class="card__body">
                            <h3><a href="/book/<%= book.id %>"><%= book.bookName %></a></h3>
                            <div class="card__footer">
                                <span><%= book.bookAuthor %></span>
                                <span><%= book.bookPage %> pages</span>
                                <span>$<%= book.bookPrice %></span>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <p class="not__found_book">The book was not found. Please add a book</p>
                <% } %>
        </div>
    </div>
</body>
</html>