<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/global.css" />
<link rel="stylesheet" href="/card.css" />
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="img__wrapper">
                <img src="/images/bg.jpeg" alt="bg image" class="bg-img-home"/>
                <div class="img__wrapper_text">
                    <h2>Library</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                    <a href="/books" class="more__books_link">View Books</a>
                </div>
            </div>
            <div class="books__wrapper">
                <% if (books && books.length > 0) { %>
                    <% for (let book of books) { %>
                        <div class="card">
                            <img src="/images/book.png" alt="book image">
                            <div class="card__body">
                                <h3><a href="/book/<%= book.id %>"><%= book.title %></a></h3>
                                <div class="card__footer">
                                    <span><%= book.authorName %></span>
                                    <span><%= book.pages %> pages</span>
                                    <span>$<%= book.price %></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <p class="not__found_book">The book was not found. Please add a book</p>
                    <% } %>
                
            </div>
        </div>
    </main>
</body>
</html>